format,body,additionalText,options,correctOptions,multiple,abstentionsAllowed,duration
PRIORITIZATION,"**Cookie Contest @TROPOS**
![alt text](https://placehold.co/600x120/black/white?text=Dummy%20Test%20Voting)
Was sind die Dummy Cookies ?

_What are dummy cookies ?_",,"{%- for image in images -%}
{{ image.name }}
{% endfor %}",,false,true,0
PRIORITIZATION,"![alt text](https://placehold.co/600x150/green/white?text=Geschmack%20?\nTaste%20?)
Welcher Cookie hat die größte Geschmacksexplosion in deinem Mund ausgelöst ?

_Which cookie caused the biggest flavor explosion in your mouth ?_",,"{%- for image in images -%}
{{ image.name }}
{% endfor %}",,false,true,0
PRIORITIZATION,"![alt text](https://placehold.co/600x120/green/white?text=Geruch%20und%20Sinnlichkeit%20?\nSmell%20and%20sensuality%20?)
Cookies mit ultimativem Weihnachtsduft-Index ?

_Cookies with a pleasant Christmas-Scent Index ?_",,"{%- for image in images -%}
{{ image.name }}
{% endfor %}",,false,true,0
PRIORITIZATION,"![alt text](https://placehold.co/600x120/green/white?text=Kreativität%20und%20Design%20?\nCreativity%20and%20design%20?)
Welcher Cookie würde den Laufsteg rocken ? 

_Which cookie would rock the runaway ?_",,"{%- for image in images -%}
{{ image.name }}
{% endfor %}",,false,true,0
PRIORITIZATION,"![alt text](https://placehold.co/600x120/grey/white?text=Backscatter%20battle%20!)
Cookies fallen vom Himmel: Welcher Cookie hat den höchsten Rückstreukoeffizienten β_1064 ?

_Cookies are falling from the sky: Which cookie has the highest backscatter coefficient β_1064 ?_",,"{%- for image in images -%}
{{ image.name }}
{% endfor %}",,false,true,0
PRIORITIZATION,"![alt text](https://placehold.co/600x120/grey/white?text=Je%20hei%C3%9Fer%20desto%20frischer%20%21%0AThe%20hotter%2C%20the%20more%20fresh%20%21)
Welche Cookies würden bei Brightness Temperature Messungen der EARTHCARE Mission erhöhte Werte anzeigen, da diese Cookies frisch aus dem Ofen kommen und nicht schon ein Jahr im Büro liegen ?

_Which cookies would show increased values in the EARTHCARE mission's brightness temperature measurements, since these cookies are fresh out of the oven and haven't been sitting in the office for a year ?_",,"{%- for image in images -%}
{{ image.name }}
{% endfor %}",,false,true,0
PRIORITIZATION,"![alt text](https://placehold.co/600x120/grey/white?text=Geschenk%20für%20Schwiegermutter%20?\nGift%20for%20mother-in-law%20?)
Würdest Du diese Cookies Deiner Schwiegermutter schenken ?

_Would you give these cookies to your mother-in-law ?_",,"{%- for image in images -%}
{{ image.name }}
{% endfor %}",,false,true,0
CHOICE,"![alt text](https://placehold.co/600x120/purple/white?text=Cookie%20Name%20?)
Ausgefallenster und wohlklingendster Cookie Name ? 

_Most fancy and pleasant-sounding cookie name ?_",,"{%- for image in images -%}
{{ image.name }}
{% endfor %}",,false,true,0
