<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <link rel="shortcut icon" type="image/x-icon" href="src/template/cookie.png"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Cookie Slide Show</title>

		<link rel="stylesheet" href="reveal.js/dist/reset.css">
		<link rel="stylesheet" href="reveal.js/dist/reveal.css">
		<link rel="stylesheet" href="reveal.js/dist/theme/moon.css">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="reveal.js/plugin/highlight/monokai.css">
	</head>
	<body>
    
    <style>
        .rounded_corners {
            /*border-radius: 10px 50px;*/ /* two values */;
            border-radius: 4%;
            box-shadow: 0 0 80px #ccc;}
        .grayscale-transition {
          /* Initial state: 10% grayscale */
          filter: grayscale(10%);
          -webkit-filter: grayscale(10%); /* For Webkit browsers like Chrome and Safari */
          
          /* Transition effect: changes over 2 seconds */
          transition: filter 1s ease-in-out, -webkit-filter 1s ease-in-out;
        }

        .grayscale-transition:hover {
          /* Final state on hover: 100% grayscale (full color) */
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
        }
        
        .reveal.reveal img
        {
            border: none;
            box-shadow: none;
            max-height: calc(85vh);
            max-width: calc(85vw);
        }
        
        .button {
          background-color: orange;
          border: none;
          color: white;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          border-radius: 6px;
          box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
          margin: 4px 2px;
          padding: 12px 28px;
          cursor: pointer;
        }
        
        img.c {
        vertical-align: text-bottom;
        }
        
        .attribution {
            position: absolute;
            /*padding-top: 80vh !important;*/
            bottom: -30%;
            left: 70%;
            font-size: 0.33em !important;
        }
        
        .reveal p { font-size: 36px; }
    </style>
		
        
        
        <div class="reveal">
			<div class="slides">
                <section data-autoslide="7000" data-background-image="src/template/result.jpg" data-background-size="contain">
                
                </section>
                <section data-autoslide="7000">
                    <h2>Cookie Contest </br>@TROPOS </h2>
                    <img class="rounded_corners grayscale-transition" src="src/template/cookie.png" />
                    <p style="padding-top:40px">Insgesamt <b>"{{ images|length }}"</b> eingereichte BackKunstwerke ...</p>
                    <p style="padding-top:40px">In total <b>"{{ images|length }}"</b> submitted cookie masterpieces ...</p>
                    <p class="attribution">Last update: {{ date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                </section>
                <section data-autoslide="7000">
                    <h3>Ablauf // Procedure</h3>
                    <ol>
                        <li>Geschmackstest // Taste trials (until 6:30 pm)</li>
                        <li>Gemeinsames Voting, eigenes Smartphone erforderlich // Joint voting, you will need to use your smartphone (after 7 pm)
                            <ul>
                                <li>Voting Intro </li>
                                <li>Voting Start</li>
                                <li>Preisverleihung // Award ceremony</li>
                            </ul>
                        </li>
                    </ol>
                    
                </section>
                {%- for image in images -%}
                    <section>
                    <p><b class="button">{{ image.name }}</b></p>
                     <img class="rounded_corners grayscale-transition" src="images/{{ image.file_name}}" alt="{{ image.name}}">
                    </section>
                {% endfor %}
                <section data-autoslide="7000">
                    <h2>Thanks to .. <img class="c" width="100px" src="https://upload.wikimedia.org/wikipedia/commons/8/86/A_perfect_SVG_heart.svg" alt="Herz"></h2>
                    <p style="padding-top:1em">... TeigFormBackSpezialistINNen <br>für die Bereitstellung der Cookies und</p>
                    <p style="padding-top:0em">... Team <a href="https://www.particify.de/">particify.de</a> für den Audience-Response-Services auf Basis von Open-Source-Software.</p>
                    <hr/>
                    <p style="padding-top:1em">... Dough shaping and baking specialists  <br>for providing the cookies and</p>
                    <p style="padding-top:0em">... Team <a href="https://www.particify.de/">particify.de</a> for providing Audience-Response-Service based on open source software.</p>
                </section>
                
            </div>
		</div>
        

		<script src="reveal.js/dist/reveal.js"></script>
		<script src="reveal.js/plugin/notes/notes.js"></script>
		<script src="reveal.js/plugin/markdown/markdown.js"></script>
		<script src="reveal.js/plugin/highlight/highlight.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,
                autoSlide: 3500,
                loop: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
                

			});
		</script>
	</body>
</html>
